 {% extends "base.html" %}
 {% block contenido %}
  <!-- <h1>Contáctenos</h1> -->
  <form action="/contacto" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.nombre.label }}<br />
      {{ form.nombre(size=30) }}<br />
    </p>
    <p>
      {{ form.correo.label }}<br />
      {{ form.correo(size=30) }}<br />
    </p>
    <p>
        {{ form.telefono.label }}<br />
        {{ form.telefono(size=30) }}<br />
      </p>
    <p>
      {{ form.mensaje.label }}<br />
      {{ form.mensaje(size=130)}}<br />
    </p>
    <p>{{ form.enviar(class_="waves-effect waves-light btn") }}</p>
  </form>
{% endblock %}