{% extends "base.html" %}
{% block contenido %}
<div class="row">
    <!-- Tiles -->
    <article class="col s12">
        <div class="full-width center-align" style="margin: 40px 0;">
            <div class="tile">
                <div class="tile-icon"><i class="zmdi zmdi-account-circle"></i></div>
                <div class="tile-caption">
                    <span class="center-align">8</span>
                    <p class="center-align">Usuarios</p>
                </div>
                <a href="/usuario" class="tile-link waves-effect waves-light">Gestión de Usuarios&nbsp; <i class="zmdi zmdi-caret-right-circle"></i></a>
            </div>
            <div class="tile">
                <div class="tile-icon"><i class="zmdi zmdi-cutlery zmdi-hc-fw"></i></div>
                <div class="tile-caption">
                    <span class="center-align">15</span>
                    <p class="center-align">Platos</p>
                </div>
                <a href="/gestion_platos" class="tile-link waves-effect waves-light">Gestión de Platos &nbsp; <i class="zmdi zmdi-caret-right-circle"></i></a>
            </div>
            <div class="tile">
                <div class="tile-icon"><i class="zmdi zmdi-view-web"></i></div>
                <div class="tile-caption">
                    <span class="center-align">14</span>
                    <p class="center-align">Menú</p>
                </div>
                <a href="/menu" class="tile-link waves-effect waves-light">Gestión de Menú &nbsp; <i class="zmdi zmdi-caret-right-circle"></i></a>
            </div>
            <!-- <div class="tile">
                <div class="tile-icon"><i class="zmdi zmdi-equalizer"></i></div>
                <div class="tile-caption">
                    <span class="center-align">77</span>
                    <p class="center-align">Comportamiento mensual de los platos</p>
                </div>
                <a href="#" class="tile-link waves-effect waves-light">Platos más vendidos&nbsp; <i class="zmdi zmdi-caret-right-circle"></i></a>
            </div>
            <div class="tile">
                <div class="tile-icon"><i class="zmdi zmdi-equalizer"></i></div>
                <div class="tile-caption">
                    <span class="center-align">77</span>
                    <p class="center-align">Ingresos mensuales de AppetiteMaker</p>
                </div>
                <a href="#" class="tile-link waves-effect waves-light">Platos más vendidos&nbsp; <i class="zmdi zmdi-caret-right-circle"></i></a>
            </div> -->
        </div>
    </article>
{% endblock %}