{% extends "base.html" %}
{% block contenido %}
    <div class="container">
        <h3>Gestión de platos</h3>
            <table class="striped">
                <thead>
                      <tr>
                          <th>Nombre del plato</th>
                          <th>Descripción</th>
                          <th>Precio</th>
                          <th>Acción</th>
                      </tr>
                </thead>

                <tbody>

                      {% for plato in lista_platos %}
                        <tr>
                            <td>{% print(plato[1]) %}</td>
                            <td>{% print(plato[2]) %}</td>
                            <td>{% print('{:,.2f}'.format(plato[3])) %}</td>
                            <td>
                                <a href="/edit_plato/{% print(plato[0]) %}"><i class="zmdi zmdi-edit zmdi-hc-lg"></i></a>
                                <a href="/plato/{% print(plato[0]) %}" style="margin:15px"><i class="zmdi zmdi-eye zmdi-hc-lg"></i></a>
                                <a href="/delete/{% print(plato[0]) %}"><i class="zmdi zmdi-delete zmdi-hc-lg"></i></a>
                            </td>
                        </tr>
                      {% endfor %}

                </tbody>
          </table>
        <a href="/add_plato" class="waves-effect waves-light btn">Agregar plato</a>
    </div>
{% endblock %}