{% extends "base.html" %}
{% block contenido %}
    <div class="col s6">
        <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="material-logo" class="responsive-img center-box">
    </div>
    <div class="col s6">
    <h4 align="justify">
        Somos AppetiteMaker, antojamos a nuestros clientes con la calidad y el sabor de los excelentes productos que brindamos, generando una experiencia de consumo placentera basada en un servicio superior, brindando estabilidad y rentabilidad a la empresa y a nuestros colaboradores.
    </h4>
{% endblock %}